/* Global */
header {
    text-align: center;
    background-color: rgb(227, 201, 167);
}

h1 {
    padding: 10px 0;
    margin-top: -12px;
    font-family: 'Lucida Handwriting',cursive;
}

h2 {
    font-style: italic;
}

h3 {
    text-decoration: underline;
}

nav {
    text-align: center;
    background-color: #dddddd;
    padding: 10px;
    display: block;
    margin-top: -25px;
}

nav a {
    padding: 10px;
    text-decoration: none;
}

#selected {
    background-color: #5b5b5b;
    color: #ffffff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 238, 218);
    text-align: center;
}

img {
    width: 150px;
    height: auto;
}

footer {
    text-align: center;
    background-color: rgb(227, 201, 167);
    clear: both;
    border-top: 2px solid black;
    margin-top: 10px;
}

footer p {
    margin: 0;
}

/*HomePage*/

p#welcome {
    font-family:cursive;
    font-size: 40px;
    margin: 2% 30%;
    padding: 10px;
    border: 5px groove #6e6d6d;
    border-radius: 30px;
}

img#hello {
    margin: 30px;
    width: 250px;
}

p#homepage {
    font-size: large;
}

/*Project*/

ul.project {
    text-align: left;
    display: inline-block;
    list-style-type: square;
}

input.project {
    width: 10%;
}

input[type="radio"] {
    width: 4%;
}

/*Skill*/

ul.skill {
    text-align: left;
    display: inline-block;
    width: 30%;
}

li {
    padding: 5px;
}

dd {
    padding: 10px;
}

#desc {
    display: none;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: #d8d5d5;
    padding: 10px;
    width: 90%;
}

li.skill:hover {
    font-weight: bold;
}

li:hover + #desc {
    display: block;
}

/*Resume*/

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 20px;
    border: 1px solid;
    background-color: white;
}

th {
    background-color: #615f5f;
    color: #ffffff;
    border: 1px solid;
    padding: 10px;
}

/* Bio */

aside.bio#left {
    float: left;
    width: 30%;
    margin-top: 1%;
}

main.bio {
    width: 40%;
    float: left;
    text-align: center;
}

aside.bio#right {
    float: right;
    width: 25%;
}

img#profile {
    width: 250px;
    border-radius: 50%;
}

img#flag {
    width: 100%;
    padding-top: 10%;
}

/*Contact*/

body #contact {
    text-align: left;
}

img#contact {
    width: 30px;
}

input {
    width: 99%;
    padding: 2px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: rgb(237, 231, 231);
}

textarea {
    width: 99%;
    padding: 2px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: rgb(237, 231, 231);
}

input[type=submit] {
    width: 50%;
    margin: 4px 25%;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}